.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.env
*.egg-info/
build/
dist/
ml/data/
ml/artifacts/*.joblib
ml/data/
ml/artifacts/*.joblib
loadtest/results/loadtest-config.json
infra/**/.terraform/
infra/**/*.tfstate*
infra/**/terraform.tfvars
infra/**/.terraform.lock.hcl
